<link href="{{ STATIC_URL }}songbird/css/smoothness/jquery-ui-1.8.7.custom.css" type="text/css" media="screen" rel="stylesheet" />

<script type="text/javascript" src="{{ STATIC_URL }}songbird/js/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}songbird/js/jquery-ui-1.8.7.custom.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}songbird/js/jquery_autocomplete.js"></script>

<h2>Catch a Bird</h2>
<form action="{% url catch_bird %}" method="post">{% csrf_token %}
    <input type="hidden" name="birdtocatch" id="id_hidden_bird" value="" /> 
    <input type="text" name="birdtocatch-textfield" id="id_bird" /> 
    <script type="text/javascript">var ac_bird = new autocomplete("bird", "/{{ base_url }}birdlist/autocomplete/birdname/", true);</script> 
    <input type="submit" name="catchabird-button" value="Go to bird" />
    <input type="reset" />
</form>


<h2>Go to Cage</h2>
<form action="{% url go_to_cage %}" method="post">{% csrf_token %}
    <input type="hidden" name="gotocage" id="id_hidden_cage" value="" /> 
    <input type="text" name="gotocage-textfield" id="id_cage" /> 
    <script type="text/javascript">var ac_cage = new autocomplete("cage", "/{{ base_url }}birdlist/autocomplete/cagename/", true);</script> 
    <input type="submit" name="gotocage-button" value="Go to cage" />
    <input type="reset" />
</form>


<h2>Search database</h2>
<form action="{% url search_database %}" method="post">{% csrf_token %}
    <input type="text" name="search" id="id_search" /> 
    <input type="submit" name="search-button" value="Search" />
    <input type="reset" />
</form>


