{% extends "birdlist/basic/base_cage.html" %}

{% block context-menu %}
    {% comment %}
         disabling these buttongs because only admins should create a new cage and
         "show all birds in cage" is already implemented on this page.
        <li id="nav_show_birds_in_cage"><a href="{% url show_birds_in_cage %}" class="birdlistaction">show all birds in cage</a></li>
    {% endcomment %}
    <li id="nav_popup_new_cage"><span class="birdlistadmin" style="display:inline">only administrators can create a new cage</span></li>
    <li id="nav_show_birds_in_cage"><a href="{% url index_cage_with_occupancy %}" class="birdlistaction">show cages and occupancy</a></li>
    <li id="nav_list_of_cages_by_function"><a href="{% url index_cage_by_function %}" class="birdlistaction">list of cages by function</a></li>
    <li id="nav_cages_over_capacity"><a href="{% url cages_over_capacity %}" class="birdlistaction">cages over capacity</a></li>
{% endblock %}


{% block content-main %}

    <br>
    <h2>Cages by room</h2>

    {% regroup cages by room as cages_by_room %}
    {% for cage in cages_by_room %}
        <h3>{{ cage.grouper }}</h3>
        <p>
        {% for cage in cage.list %}
            <a href="{% url cage_overview cage.name %}">{{ cage.name }}{% if not forloop.last %},{% endif %}</a> 
        {% endfor %}
        </p>
    {% endfor %}

{% endblock %}

