{% comment %}
<!-- not used for the moment - only distracts me ... -->

    {% include "lablog/basic/sidebar_search.html" %}
      
    <h2>Output options</h2>
    <ul>
        <li id="nav-gen-pdf"><a href={% url pdf_dummy %}>PDF</a>: generate PDF file of this page.</li>
        <li id="nav-gen-pdf"><a href=".">Print</a>: show print version of this page.</li>
    </ul>      

<!-- create some space between the upper and the lower stuff (just for the moment) -->

  <div> &nbsp; </div>
  <div> &nbsp; </div>
  <div> &nbsp; </div>
  <div> &nbsp; </div>
        
  <h2>more options coming soon!</h2>

    <ul>
      
        
        
        <li>Κατά ηύρα νερό νικά άλλα μαμά εκ εφ θα. Μας οπτική φίλ πείρας ακριβή επήρεν ότι αίσιου κέδρος. Τις χαλδίας συνεπώς περούκα και. Σειρά όψεις αίσια εντός και όλα νόρμα εβγάλ. Βασίζεται σημειώνει διαθέσεων επιβάλλει να ατ τα υψηλότερο δεκαετίες βλ. Διάφορες ανθρώπου αφεντικό πια ότι διάφοροι δεν εισβολέα ενώ. Για συναλλαγή μια σημείωσης στο αστήριχτη. </li>
      
    </ul>
  
  
  
    <h2>Even more links</h2>
    <ul>

      
        <li>
          <a href="">bla</a>
          
          <ul><li><a href="">subbla</a></li></ul>
          
        </li>
        
        <li>
          <a href="">bla2</a>
        </li>                  
      
    </ul>

{% endcomment %}
