        <style type="text/css">
        ul.songbirdTab {
	        background: #848383;
	        border: 0;
	        margin: 0;
	        vertical-align: baseline;
	        padding: 0px 5px;
	        font-size: 13px;
	        color: #3366cc;
        }
        
        ul.songbirdTab a {
	        float: left;
	        padding: 1px 8px;
	        cursor: pointer;
        }
        
        ul.songbirdTab li {
	        float: left;
	        border-top: solid 2px #bad3ea;
	        list-style: none;
        }
        
        ul.songbirdTab li.active {
	        float: left;
	        padding: 1px 8px;
	        border-top: solid 2px #1a54e1;
	        color: white;
        }
        
        ul.songbirdTab li.rightfloat {
            float: right;
            border-top: solid 2px #FFFFFF;
        }
       
        ul.songbirdTab li.rightfloat_no_bar {
            float: right;
            border-top: solid 2px transparent;
        }       
       
        ul.songbirdTab li.admin {
            border-top: solid 2px #ff8c8c;
        }         
        
        ul.songbirdTab li:hover	{
	        background: #504d4d;
        }
        </style>
