<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/xhtml1-loose.dtd">
{% load i18n %}

<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        {% block stylesheet %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}birdlist/css/base.css">
        <link rel="stylesheet" type="text/css" media="print" href="{{ STATIC_URL }}birdlist/css/print.css">
        <link rel="icon" href="{{ STATIC_URL }}songbird/favicon.ico" type="image/x-icon">
        <link rel="shortcut icon" href="{{ STATIC_URL }}songbird/favicon.ico" type="image/x-icon">
        <script type="text/javascript" src="{{ STATIC_URL }}songbird/js/jquery-1.4.4.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}songbird/js/jquery.dimensions.pack.js"></script>
        {% endblock %}

        {% include "songbird/basic/main_nav_css.html" %}
        <!-- include the popup window for all sites -->
        {% include "birdlist/print/print_js.html" %}

        {% block js-functions %}{% endblock %}        
        {% block custom_stylesheet %} {% endblock %}
        
        <title>{% block title %} birdlist | {% block title_detail %}{% endblock %} {% endblock %}</title>
    </head>

    <body id="{% block sectionid %}homepage{% endblock %}" class="{% block coltype %}default{% endblock %}">
    
    {% include "songbird/basic/auto-logout.html" %}
    {% with request.user.username as username %}
    
    {% block container %}
    <div id="container">
        <div id="secondaryapps"> 
            {% block secondaryapps %}{% endblock %}
        </div>
        <!-- END #secondaryapps-->
    
        <div id="header"> 
			{% block header %} header & menu{% endblock %} 
        </div>
	    <!-- END #header -->  

        <div id="billboard">
            <ul id="subnav">
                <!-- stuff that should always show up-->
                {% block billboard_always %}
                {% endblock %}
                <!-- stuff that should only show up for the currently highlighted page -->                
                {% block billboard %}{% endblock %}
            </ul>
        </div>
	    <!-- END #billboard -->

        <div id="columnwrap">
			
            <div id="print-header"> 
                {% block printheader %}{% endblock %} 
            </div>
            <!-- END #print-header -->  


		    <div id="content-main">

                <div id="context-menu"> 
                    {% block context-menu %}{% endblock %} 
                </div>
                <!-- END #context-menu -->  

                {% block content-main %}CONTENT{% endblock %}
                
                	<div id="content-secondary">
                	{% block content-secondary %}
                	{% if user.is_authenticated %}
                	{% include "birdlist/basic/secondary_content.html" %}
                	{% endif %}
                	{% endblock %}
                	</div>
	             	<!-- END #content-secondary -->
                
            </div>
            <!-- END #content-main -->


           	<div id="content-sidebar" class="sidebar">	
                {% block sidebar %}
                {% if user.is_authenticated %}  
                    aloha
                    {% include "birdlist/basic/sidebar.html" %} 
                {% endif %}
                {% endblock %}
		    </div>
            <!-- END #content-related -->

	    </div>
        <!-- END #columnwrap -->

    <div id="footer">
        {% block footer %}
           {% include "birdlist/basic/footer.html" %}
        {% endblock %}
	</div>
	<!-- END #footer -->

    </div>
    <!-- END #container -->
    {% endblock %} 
    {% endwith %}
    </body>

</html>

